@import url("../CoverClear.css");

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    position: relative;
    overflow: hidden;
    height: 81vh;
    /* Full viewport height */
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.home-page-gradient {
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(139, 92, 246, 0.2);
    border-radius: 50%;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.home-page-description {
    font-size: 1.25rem;
    color: #4b5563;
    text-align: center;
    max-width: 28rem;
    margin-bottom: 2rem;
}

.home-page-button {
    color: white;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.125rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.home-page-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translate(0, 15%)
}

.home-page-image-gradient {
    position: relative;
    background-image: url('../assets/blur.png'); /* Replace with your image URL */
    background-size: cover; /* Ensure the image covers the container */
    min-width: 500px;
    min-height: 475px;
    background-position: center;
    background-color: transparent; /* No fallback color */
    transform: translate(0,-17%); /* Offset the content to truly center it */

}

.home-page-button:hover {
    background-color: #5f386f !important;
}