.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    /* text-align: center; */
}

.privacy-text {
    max-width: 900px;
    margin-bottom: 5rem;
    margin: 2rem;
}

.privacy-header {
    text-align: center;
    margin-bottom: 3rem;
} 

.get-started-button {
    all: unset; /* Removes all button styles (background, padding, border, default behavior) */
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    
    /* Gradient Text */
    background-image: linear-gradient(90deg, #7A52C7, #A76DFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text take gradient color */
}

.about-button {
    all: unset; 
    font-size: 1rem;
    cursor: pointer;
    
}